{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Book</h1>

{% if book.bookinstance_set.all %}

<p>You can't delete this book until all copies are deleted</p>
<ul>
  {% for b in book.bookinstance_set.all %}
    <li><a href="{{ b.get_absolute_url }}">{{b.id}}</a></li>
  {% endfor %}
</ul>

{% else %}
<p>Are you sure you want to delete this book?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete.">
</form>
{% endif %}

{% endblock %}
